header { position: fixed; top: 0; height: 90px; background-color: #FFF; width: 100%; z-index: 999; padding: 27px; }
header .absolute.block { z-index: -1; }
header .navbar-toggle { display: block; padding: 0; margin: 10px; font-size: 14px; }