body { color: #595959; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 17px; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; margin: 0; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: inherit; font-weight: inherit; }
h1 { font-size: 42px; }
h2 { font-size: 38px; }
p { margin: 0; }
b { font-weight: 400; }
@media(max-width: 767px) {
	body { font-size: 14px; }
	h1 { font-size: 32px; }
	h2 { font-size: 28px; }
}

img.fill-x { width: 100%; height: auto; }
img.fill-y { height: 100%; width: auto; }
img.round { border-radius: 50%; border: 4px solid; }

.font-14 { font-size: 14px; }

.uppercase { text-transform: uppercase; }
.nowrap { white-space: nowrap; }

.block { display: block; }

.relative { position: relative; }
.absolute { position: absolute; top: auto; right: auto; bottom: auto; left: auto; }
.absolute.block { width: 100%; }

.top { top: 0; }
.right { right: 0; }
.bottom { bottom: 0; }
.left { left: 0; }

.inspace-10 { padding: 10px; }
.inspace-N-0 { padding-top: 0; }
.inspace-N-10 { padding-top: 10px; }
.inspace-N-20 { padding-top: 20px; }
.inspace-N-30 { padding-top: 30px; }
.inspace-N-60 { padding-top: 60px; }
.inspace-N-80 { padding-top: 80px; }
.inspace-S-30 { padding-bottom: 30px !important; }
.inspace-S-90 { padding-bottom: 90px; }
.inspace-S-100 { padding-bottom: 100px; }
.inspace-S-120 { padding-bottom: 120px; }
.inspace-S-150 { padding-bottom: 150px; }
.inspace-NS-10 { padding-top: 10px; padding-bottom: 10px; }
.inspace-NS-50 { padding-top: 50px; padding-bottom: 50px; }
.inspace-NS-80 { padding-top: 80px; padding-bottom: 80px; }
.inspace-NS-100 { padding-top: 100px; padding-bottom: 100px; }
.inspace-NS-150 { padding-top: 150px; padding-bottom: 150px; }

.space-N-10 { margin-top: 10px; }
.space-N-20 { margin-top: 20px !important; }
.space-N-30 { margin-top: 30px !important; }
.space-N-40 { margin-top: 40px !important; }
.space-N-80 { margin-top: 80px !important; }
.space-N-s10 { margin-top: -10px; }
.space-S-15 { margin-bottom: 15px; }
.space-S-s15 { margin-bottom: -15px; }
.space-EW-auto { margin-left: auto; margin-right: auto; }

.rspace-N-10 { margin-top: 10%; }
.rspace-N-s10 { margin-top: -10%; }
.rspace-S-15 { margin-bottom: 15%; }
.rspace-S-s15 { margin-bottom: -15%; }

.max-x-400 { max-width: 400px; }
.max-x-600 { max-width: 600px; }
.max-x-900 { max-width: 900px; }
@media(max-width: 767px) {
	.max-x-400-xs { max-width: 400px; }
}

.organize-y-10>:not(:first-child) { margin-top: 10px; }
.organize-y-10>:not(:last-child) { margin-bottom: 10px; }
.organize-y-15>:not(:first-child) { margin-top: 15px; }
.organize-y-15>:not(:last-child) { margin-bottom: 15px; }
.organize-y-30>:not(:first-child) { margin-top: 30px; }
.organize-y-30>:not(:last-child) { margin-bottom: 30px; }
.organize-y-60>:not(:first-child) { margin-top: 60px; }
.organize-y-60>:not(:last-child) { margin-bottom: 60px; }

.organize-x-10>:not(:first-child) { margin-left: 10px; }
.organize-x-10>:not(:last-child) { margin-right: 10px; }

.row-with { margin: 0 -5px; float: left; width: 100%; }
.row-with>div { float: left; padding: 0 5px; }
.row-with.cols-xs-2>div { width: 50%; }
.row-with.cols-xs-4>div { width: 25%; }
.row-with.cols-xs-7>div { width: 14.285%; }
@media(min-width: 768px) {
	.row-with.cols-sm-2>div { width: 50%; }
	.row-with.cols-sm-4>div { width: 25%; }
	.row-with.cols-sm-7>div { width: 14.285%; }
}
@media(min-width: 992px) {
	.row-with.cols-md-2>div { width: 50%; }
	.row-with.cols-md-4>div { width: 25%; }
	.row-with.cols-md-7>div { width: 14.285%; }
}